:root {
    --color-black-dark: #191b20;
    --color-black-light: #1f2128; // TODO: it is mostly same with color-grey-dark
    --color-grey-dark: #242731;
    --color-grey-light: #2f323e;
    --color-white: #fff;
    --color-blue: #355DFF;
    --color-green-dark: #2c9682;
    --color-green-light: #3dbaa2;
  }